{% extends 'layout.html' %}

{% block content %}

<canvas id="gameCanvas" width="500" height="500"></canvas>

<script>

    let player = {
        id : "",
        pos_X : 0,
        pos_Y : 0,
        speed : 1,
        isMe : true,
        upKey : false,
        downKey : false,
        leftKey : false,
        rightKey : false,

    };
    let isStart = false;
    let isEnd = false;
    let inter = 0;
    let movepoint = 100;
    let canvas = document.getElementById("gameCanvas");
    let ctx = canvas.getContext("2d");
    ctx.fillStyle = "red";
    ctx.fillRect(player.pos_X,player.pos_Y,50,50);

    function keyDownEvent(e){ //키를 눌렸을 경우 움직이도록
    switch (e.key){
        case 'ArrowUp' :
            player.upKey = true;
            break;

        case 'ArrowDown' :
            player.downKey = true;
            break;

        case 'ArrowLeft' :
            player.leftKey = true;
            break;

        case 'ArrowRight' :
            player.rightKey = true;
            break;

        default :
            break; //다른 키 입력한 경우 처리
            //스킬에 대한 키는 아직 세팅안함

    }
}

function keyUpEvent(e){ //키를 때면 멈추도록
    switch (e.key){
        case 'ArrowUp' :
            player.upKey = false;
            break;

        case 'ArrowDown' :
            player.downKey = false;
            break;

        case 'ArrowLeft' :
            player.leftKey = false;
            break;

        case 'ArrowRight' :
            player.rightKey = false;
            break;

        default :
            break; //다른 키 입력한 경우 처리
            //스킬에 대한 키는 아직 세팅안함

    }
}

    //사용자 키 입력
    document.addEventListener("keydown",keyDownEvent,false);
    document.addEventListener("keyup",keyUpEvent,false);

    function renderClient(){
        if(player.upKey){ //위로 이동한다
        player.pos_Y += speed;
        ctx.translate(player.pos_X,player.pos_Y);
        }
        if(player.downKey){
            player.pos_Y -= speed;
            ctx.translate(player.pos_X,player.pos_Y);
        }
        if(player.leftKey){
            player.pos_X -= speed;
            ctx.translate(player.pos_X,player.pos_Y);
        }
        if(player.rightKey){
            player.pos_X += speed;
            ctx.translate(player.pos_X,player.pos_Y);
        }

        if(player.pos_X>100){
            isEnd = true;
        }
        if(player.pos_Y>100){
            isEnd = true;
        }
        if(isEnd){
            clearInterval(inter);
        }
    }

    if(isStart){
        inter = setInterval(renderClient,1);
    }


</script>

{% endblock %}
