{% extends 'layout.html' %}

{% block content %}

<canvas id="gameCanvas" width="500" height="500"></canvas>

<script>
    const { getCiso } = require('../models/game/ciso');
    let player = getCiso;
    let isStart = false;
    let isEnd = false;
    //플레이어 소켓 연결


    //사용자 키 입력
    document.addEventListener("keydown",player.keyDownEvent,false);
    document.addEventListener("keyup",player.keyUpEvent,false);

    function renderClient(){

    }


    //시작부분

    //소켓에서 isStart를 받는다.

    if (isStart){
        //계속 렌더링한다.
        while(!isEnd){
            renderClient();
        }
        //키입력을 받으면 서버로 emit한다.
        //서버에서 상대방 정보를 받아온다.
        //승패계산을 한다.
        //승패가 결정되면 서버에 emit하고 종료한다.

    }


</script>

{% endblock %}
